Authorization__Authority: https://your.sso/
Authorization__DiscoveryDocument: https://your.sso/.well-known/openid-configuration
Authorization__RateRole: Hertej Rater
Authorization__UploadRole: Hertej Uploader
Authorization__AdminRole: Hertej Admin
Authorization__Audiences__0: 3a9601604803564e9f73fa562805077f7131feb2
Database: Host=database; Database=hertej-data; Port=5432; Username=hertej; Password=test123
Storage__StoragePath: /data

